<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Tasks</title>
    </head>
    <body style="background-color: #FFFFE0;">
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
                <main>
                    <div>
                        <h1>My Tasks</h1>
                        {% if task_list|length == 0 %}
                            <p>You have no tasks</p>
                        {% else %}
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Is completed</th>
                                </tr>
                                {% for x in task_list %}
                                    <tr>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.start_date }}</td>
                                        <td>{{ x.due_date }}</td>
                                        {% if x.is_completed == True %}
                                            <td>Done</td>
                                        {% else %}
                                            <td>
                                                <form method="POST" action="{% url 'complete_task' x.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="is_completed" value="True">
                                                    <button>Complete</button>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </main>
    </body>
</html>
