{% load markdownify %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body style="background-color:grey;">
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ project.name }}</h1>
                {{ project.description|markdownify }}
                <h2>Tasks</h2>
                <a href="{% url "create_task" %}">Create a new task</a>
                {% if project.tasks.all|length == 0 %}
                    <p>This project has no tasks</p>
                {% else %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                {% endif %}
                {% for x in project.tasks.all %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.assignee }}</td>
                        <td>{{ x.start_date }}</td>
                        <td>{{ x.due_date }}</td>
                        {% if x.is_completed == True %}
                            <td>yes</td>
                        {% else %}
                            <td>no</td>
                        {% endif %}
                    </tr>
                    </table>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
